{% load static %}
<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todoapp</title>
        <link rel="stylesheet" href="{% static 'todosite/bs/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="{% static 'todosite/Styles.css' %}" >
    </head>
    
    <body>
        <div class="container">
        <h1>What's your plan for the day?</h1>
        <form action="{% url 'add' %}" method="POST" role="form">
            {% csrf_token %}
            <div class="input-grp">
                {{form.text}}
                
                    <!--<input type="text" class="form-control" placeholder="What is left out for the day?" aria-label="Todo" aria-describedby="add-btn">-->
                    <button type="submit" class="btn btn-success" id="add-btn" >Add</button><br><br>
                
            </div>
        </form>
        <div class="del">
        <a href="{% url 'deleteCompleted' %}">
        <button style="align-content: center" class="btn btn-warning"><i class="glyphicon glyphicon-trash"></i>Delete completed</button></a>
        <a href="{% url 'deleteAll' %}"><button class="btn btn-danger">Delete all</button></a>
        <br><br>
        <ul style="list-style-type: none">
            
            {% for todolist in todo_items %}
                {% if todolist.completed %}
            <div class="c"><li class="completed">{{todolist.text}}</li><br></div>
                {% else %}
            <div class="nc"> <a href="{% url 'completed' todolist.id %}"><li class="to-do">{{todolist.text}}</li></a><br></div>
            {% endif %}
            {% endfor %}
                
            
        </ul>
        </div>
        </div>
    </body>
    
</html>